.cowin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 20px;
  min-height: 100vh;
  background-color: #161625;
}

.cowin-sub-container {
  width: 100%;
  max-width: 1024px;
}

.cowin-website-logo-box {
  display: flex;
  align-items: center;
}

.cowin-heading {
  color: #2cc6c6;
  font-size: large;
  font-weight: bold;
}

.website-logo {
  width: 35px;
  margin-right: 10px;
}

.cowin-main-heading {
  color: #ffffff;
  font-size: larger;
  font-weight: 600;
}

.failure-img {
  width: 50%;
  max-width: 400px;
}

.failure-text {
  color: white;
  font-family: 'Roboto';
}

@media screen and (max-width: 768px) {
  .failure-text {
    font-size: large;
  }
}

.failure-box {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.render-main-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  max-width: 1024px;
}
